*{
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
	margin: auto;
	padding: 40px;
    align-items: center;
    text-align: center;
}

.titulo{
    text-align: center;
    font-size: larger;
    color:rgb(61, 61, 61)
}

.form-control{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1f53c5;
    width: 100%;
}

.btn{
    background: white;
    border: 1px solid #1f53c5;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    background: #1f53c5;
}